
\.gradle/4\.6/fileContent/

\.gradle/4\.6/fileHashes/

\.gradle/4\.6/javaCompile/

\.gradle/4\.6/taskHistory/

\.gradle/buildOutputCleanup/

\.idea/caches/

\.idea/libraries/

\.idea/codeStyles/

\.idea/

\.gradle/4\.6/fileChanges/

\.gradle/vcsWorkingDirs/

app/app\.iml

gradle/wrapper/

gradlew

gradlew\.bat

local\.properties

CarDeal\.iml

*.lock

*.ser

CarDeal2\.iml
